html,body {
	padding: 0px;
	margin: 0px;
}

body {
	padding: 10px;
}

.tabelleheader {
	border: 1px solid gray;
	background-color: #3399FF;
}

.qis_records {
	color: rgb(60,60,60);
}

table {
	border-collapse: collapse;
	font-family: sans-serif;
}

table,th,td {
	border: 1px solid gray;
}

th {
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: right;
	cursor: pointer;
	background-color: rgba(150,150,150,1);
	color: rgb(240,240,240);
}

th.sortUp {
}

th.sortDown {
}

tr:hover {
	background-color: rgba(51,153,255,0.5);
	color: rgb(240,240,240);
}
